<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotton Clicker Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Cotton Clicker</h1>
        <p>Sign up below to start playing!</p>
        <form action="/reg" method="post">
            <div>
            <input type="text" name="userName" placeholder="Username" class="input_box" id="name"  required>
            <input type="password" name="password" placeholder="Password" class="input_box" id="password" name="password" pattern=".{6,}" title="Lösenordet måste vara minst 6 tecken långt" required>
            <input type="password" name="password_confirm" placeholder="Confirm Password" class="input_box" id="password_corfirm" name="password_confirm" required>
            <button type="submit" class="submit">Sign up</button>
        </div>
        </form>
        <div>
            <p>{{message}}</p>
        </div>
        
        <p>Or you can log in if you already have an account</p>
        <a href="/login" style="text-decoration: none;">Log in here!</a>
    </div>
</body>
</html>