<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotton Clicker</title>
    <link rel="stylesheet" href="settings.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="header_box" href="/clicker">Back to game</a>
            <h1 class="header_box">Settings</h1>
            <div class="header_box" >
                <a href="/login" class="header_extra" style="padding-right: 20px;">Sign Out</a>
            </div>
        </div>
        <div class="content">
            <p>Account name:</p>
            <p id="account_name"></p>

            <h2>Account stats:</h2>
            <div class="stats">
                
                <div style="border: solid;"><p>Money:<p id="money">0</p></p></div>
                <div style="border: solid;"><p>Money earned:<p id="money_earned">0</p></p></div>
                <div style="border: solid;"><p>Cotton:<p id="cotton">0</p></p></div>
                <div style="border: solid;"><p>Passive cotton earned per second:<p id="passive">0</p></p></div>
    
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>